.page {
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;

  background-color: #000000;
  padding-top: 45px;
  margin: 0 auto;
}


.header {
  max-width: 880px;
  min-height: 74px;
  margin: 0 auto;
  border-bottom: 1px solid #545454;
}

.profile {
  margin: 0 auto;
  padding-top: 40px;

  max-width: 880px;

  display: flex;
  align-items: center;

  position: relative;
}

.profile__avatar {
  max-width: 120px;
  border-radius: 100%;

  margin-right: 30px;
}

.profile__info {
  margin-right: 244px;
  display: grid;
  grid-template-columns: repeat(2, max-content);
  grid-template-rows: 39px max-content;
  grid-template-areas: 
  "name button"
  "description description";
  gap: 16px 18px;
}

.profile__name {
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  color: #FFFFFF;

  grid-area: name;
  margin: 0;
}

.profile__description {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;

  grid-area: description;
  margin: 0;
}

.button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;

  box-sizing: border-box;
}

.button:hover {
  opacity: 0.6;
  cursor: pointer;
}


.profile__edit-button {
  width: 24px;
  height: 24px;

  background-image: url(./images/edit-button.svg);
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid #FFFFFF;

  grid-area: button;

  align-self: end;
}

.profile__add-button {
  width: 150px;
  height: 50px;

  background-image: url(./images/add-button.svg);
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid #FFFFFF;
  border-radius: 2px;

  position: absolute;
  right: 0;
}

.elements {
  padding-top: 50px;

  display: flex;
  justify-content: center;
}

.elements_grid-container {
  margin: 0;
  padding: 0;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px 17px;
}

.element {
  list-style: none;
  max-width: 282px;
  overflow: hidden;

  background: #FFFFFF;
  border-radius: 10px;
}

.element__photo {
  width: 282px;
  height: 282px;

  object-fit: cover;
}

.element__wrapper {
  padding: 25px 20px 29px;
  display: flex;
  justify-content: space-between;
}

.element__title {
  font-weight: 900;
  font-size: 24px;
  line-height: 21px;

  margin: 0;
}

.element__like {
  width: 22px;
  height: 19px;

  background-image: url(./images/like.svg);
  background-repeat: no-repeat;
  background-position: center;

  align-self: end;
}

.element__like:focus {
  background-image: url(./images/like-active.svg);
}

.footer {
  padding: 66px 0 60px;
  max-width: 880px;

  margin: 0 auto;
}

.footer__text {
  margin: 0;
  padding: 0;

  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #545454;
}

.popup {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);

  padding-top: 195px;

  display: none;
}

.popup__opened {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.popup__container {
  max-width: 430px;
  
  background: #FFFFFF;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;

  padding: 34px 36px 37px;
  box-sizing: border-box;

  position: relative;
}

.popup__close-button {
  background-image: url(./images/close-button.svg);
  width: 32px;
  height: 32px;

  position: absolute;
  top: -41px;
  right: -39px;
}

.popup__title {
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  color: #000000;

  margin: 0;
  margin-bottom: 48px;
}

.popup__input-container {
  margin: 0;
  padding: 0;
  border: none;
}

.popup__item {
  margin: 0;
  padding: 0;
  padding-bottom: 8px;

  width: 100%;
  min-height: 27px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);

  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;

  box-sizing: border-box;
}

.popup__item_el_name {
  margin-bottom: 29px;
}

.popup__sumbit-button {
  width: 100%;

  background: #000000;
  border-radius: 2px;
  
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  text-align: center;

  color: #FFFFFF;

  margin-top: 48px;
  padding: 14px 0 18px;
}


/*Media*/
@media screen and (max-width: 910px) {
  .header {
    margin-left: 27px;
    margin-right: 27px;
  }

  .profile {
    margin-left: 27px;
    margin-right: 27px;
  }

  .elements_grid-container {  
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }

  .footer {
    max-width: 581px;
  }
}

@media screen and (max-width: 770px) {
  .profile {
    padding-top: 42px;

    flex-direction: column;
    align-items: center;
  }

  .profile__avatar {
    margin-right: 0;
  }
  
  .profile__info {
    margin-right: 0;
    margin-top: 26px;

    grid-template-columns: repeat(2, max-content);
    grid-template-rows: 26px max-content;
    gap: 14px 10px;
  }

  .profile__name {
    font-size: 27px;
    line-height: 33px;
    text-align: center;
  }

  .profile__edit-button {
    width: 18px;
    height: 18px; 
  }

  .profile__description {
    font-size: 14px;
    line-height: 17px;
    text-align: center;
  }

  .profile__add-button {
    margin-top: 32px;
    
    width: 282px;
    height: 50px;

    position: initial;
  }
}

@media screen and (max-width: 650px) {
  .elements {
    padding-top: 36px;
  }

  .elements_grid-container {  
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  .footer {
    padding: 48px 0 36px;
    max-width: 282px;
  }

  .footer__text {
    font-size: 14px;
    line-height: 17px;
  }

  .popup__item {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
  }
}

@media screen and (max-width: 600px) {
  .popup {
    padding-top: 123px;
  }

  .popup__container {
    max-width: 282px;
    padding: 25px 22px;
  
    position: relative;
  }

  .popup__close-button {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 20px;
    height: 20px;

    position: absolute;
    top: -36px;
    right: 0px;
  }

  .popup__title {
    font-size: 18px;
    line-height: 22px;
  
    margin: 0;
    margin-bottom: 75px;
  }

  .popup__sumbit-button {
    font-size: 14px;
    line-height: 18px;
    padding: 14px 82px;
    margin-top: 45px;
  }
}

@media screen and (max-width: 500px) {
  .page {
    padding-top: 28px;
  }

  .header {
    min-height: 56px;
    max-width: 100vw;

    margin: 0;
    padding: 0 27px;

  }

  .header__logo {
    width: 103.74px;
    height: 24.4px;
  }
}