.popup-add__submit-button {
    border: none;
    box-sizing: border-box;
  
    width: 100%;
  
    background: #000000;
    border-radius: 2px;
    
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    text-align: center;
  
    color: #FFFFFF;
  
    margin-top: 48px;
    padding: 14px 0 18px;
  }
  
  .popup-add__submit-button:hover {
    opacity: 0.8;
  }
  
  @media screen and (max-width: 600px) {
    .popup-add__submit-button {
      font-size: 14px;
      line-height: 18px;
      padding: 14px 82px;
      margin-top: 45px;
    }
  }