.profile__description {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
  
    grid-area: description;
    margin: 0;
  }

@media screen and (max-width: 770px) {
  .profile__description {
    font-size: 14px;
    line-height: 17px;
    text-align: center;
  }
}